<h4 class="mt-4 text-center">Featured Products</h4>
<div class="d-grid grid-template-col-2 grid-template-col-md-4 grid-gap-1 grid-gap-sm-3 my-3">
  <div class="card card-product card-style1">
    <div class="card-body">
      <button class="btn btn-icon btn-text-danger rounded-circle btn-wishlist atw-demo" data-toggle="button" title="Add to wishlist"></button>
      <a href="shop-single.html"><img class="card-img-top" src="./assets/img/products/1_small.jpg" alt="Card image cap"></a>
      <a href="shop-single.html" class="card-title card-link">Hanes Hooded Sweatshirt</a>
      <span class="badge badge-success">New arrival</span>
      <div class="price"><span class="h5">$18.56</span></div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm rounded-pill btn-faded-primary btn-block atc-demo">Add to Cart</button>
    </div>
  </div>
  <div class="card card-product card-style1">
    <div class="card-body">
      <button class="btn btn-icon btn-text-danger rounded-circle btn-wishlist atw-demo" data-toggle="button" title="Add to wishlist"></button>
      <a href="shop-single.html"><img class="card-img-top" src="./assets/img/products/2_small.jpg" alt="Card image cap"></a>
      <a href="shop-single.html" class="card-title card-link">The Flash Logo T-Shirt</a>
      <div class="price">
        <span class="h5">$16.64</span>
      </div>
      <div class="custom-color custom-color-lg">
        <div class="color-item">
          <input type="radio" name="productColor1" value="./assets/img/products/2_small.jpg" id="productColor1-1" class="custom-control-input" checked>
          <label for="productColor1-1" class="rounded-circle" style="background-color:#f2c43a"></label>
        </div>
        <div class="color-item">
          <input type="radio" name="productColor1" value="./assets/img/products/2_small_black.jpg" id="productColor1-2" class="custom-control-input">
          <label for="productColor1-2" class="rounded-circle" style="background-color:#23232b"></label>
        </div>
        <div class="color-item">
          <input type="radio" name="productColor1" value="./assets/img/products/2_small_red.jpg" id="productColor1-3" class="custom-control-input">
          <label for="productColor1-3" class="rounded-circle" style="background-color:#eb0015"></label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm rounded-pill btn-faded-primary btn-block atc-demo">Add to Cart</button>
    </div>
  </div>
  <div class="card card-product card-style1">
    <div class="card-body">
      <button class="btn btn-icon btn-text-danger rounded-circle btn-wishlist atw-demo" data-toggle="button" title="Add to wishlist"></button>
      <a href="shop-single.html"><img class="card-img-top" src="./assets/img/products/3_small.jpg" alt="Card image cap"></a>
      <a href="shop-single.html" class="card-title card-link">Open Front Cropped Cardigans</a>
      <span class="badge badge-warning">20% OFF</span>
      <div class="price">
        <span class="h5 del">$19.00</span>
        <span class="h5">$15.20</span>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm rounded-pill btn-faded-primary btn-block atc-demo">Add to Cart</button>
    </div>
  </div>
  <div class="card card-product card-style1">
    <div class="card-body">
      <button class="btn btn-icon btn-text-danger rounded-circle btn-wishlist atw-demo" data-toggle="button" title="Add to wishlist"></button>
      <a href="shop-single.html"><img class="card-img-top" src="./assets/img/products/4_small.jpg" alt="Card image cap"></a>
      <a href="shop-single.html" class="card-title card-link">Cotton Fleece Long Hoodie</a>
      <div class="price">
        <span class="h5 del">$98.90</span>
        <span class="h5">$85.00</span>
      </div>
      <div class="custom-color custom-color-lg">
        <div class="color-item">
          <input type="radio" name="productColor2" value="./assets/img/products/4_small.jpg" id="productColor2-1" class="custom-control-input" checked>
          <label for="productColor2-1" class="rounded-circle" style="background-color:#625e39"></label>
        </div>
        <div class="color-item">
          <input type="radio" name="productColor2" value="./assets/img/products/4_small_blue.jpg" id="productColor2-2" class="custom-control-input">
          <label for="productColor2-2" class="rounded-circle" style="background-color:#2e4797"></label>
        </div>
        <div class="color-item">
          <input type="radio" name="productColor2" value="./assets/img/products/4_small_maroon.jpg" id="productColor2-3" class="custom-control-input">
          <label for="productColor2-3" class="rounded-circle" style="background-color:#791949"></label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm rounded-pill btn-faded-primary btn-block atc-demo">Add to Cart</button>
    </div>
  </div>
</div>
