<div class="swiper-container" id="homeSlider" *ngIf="router.url === '/'">

  <div class="swiper-wrapper">
    <div class="swiper-slide" data-cover="assets/img/slider/1.jpg" data-height="220px 350px 400px 430px 460px">
      <div class="overlay-content overlay-show align-items-end text-white">
        <div class="text-center">
          <h1 class="animated font-weight-bold" data-animate="fadeDown">Business Casual<br/>Outfit Ideas</h1>
          <a href="shop-grid.html" class="btn btn-faded-primary rounded-pill animated mt-4" data-animate="fadeUp">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide" data-cover="assets/img/slider/2.jpg" data-height="220px 350px 400px 430px 460px">
      <div class="overlay-content overlay-show align-items-start text-white">
        <div class="text-center">
          <h2 class="bg-white text-dark d-inline-block p-1 animated" data-animate="fadeDown">TOP BRANDS</h2>
          <h1 class="animated font-weight-bold" data-animate="fadeDown">30% - 70% OFF</h1>
          <a href="shop-grid.html" class="btn btn-warning rounded-pill animated mt-4" data-animate="fadeUp">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide" data-cover="assets/img/slider/3.jpg" data-height="220px 350px 400px 430px 460px">
      <div class="overlay-content overlay-show align-items-end text-white">
        <div class="text-center">
          <h2 class="bg-white text-dark d-inline-block p-1 animated" data-animate="fadeDown">Brand New</h2>
          <h1 class="animated font-weight-bold" data-animate="fadeDown">High Quality Clothes</h1>
          <a href="shop-grid.html" class="btn btn-faded-primary rounded-pill animated mt-4" data-animate="fadeUp">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev autohide"><i class="material-icons">chevron_left</i></div>
  <div class="swiper-button-next autohide"><i class="material-icons">chevron_right</i></div>
</div>
