<!-- TOP CATEGORIES 1 -->
<div class="d-grid grid-template-col-2 column-gap-1 column-gap-sm-3">
  <div class="card card-style1 overflow-hidden">
    <div class="d-grid grid-template-row-2 grid-template-row-md-none grid-template-col-md-2">
      <div data-cover="./assets/img/categories/men.jpg" class="order-md-2"></div>
      <div class="text-center p-3 order-md-1">
        <h3>Men</h3>
        <p class="text-center d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam.</p>
        <a href="shop-grid.html" class="btn btn-outline-primary rounded-pill stretched-link">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="card card-style1 overflow-hidden">
    <div class="d-grid grid-template-row-2 grid-template-row-md-none grid-template-col-md-2">
      <div data-cover="./assets/img/categories/women.jpg"   class="order-md-2"></div>
      <div class="text-center p-3 order-md-1">
        <h3>Women</h3>
        <p class="text-center d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam.</p>
        <a href="shop-grid.html" class="btn btn-outline-danger rounded-pill stretched-link">Shop Now</a>
      </div>
    </div>
  </div>
</div>
<!-- /TOP CATEGORIES 1 -->

<!-- TOP CATEGORIES 2 -->
<div class="d-grid grid-template-col-2 column-gap-1 column-gap-sm-3 mt-1 mt-sm-3">
  <div class="img img-zoom-in">
    <img src="./assets/img/categories/sunglasses.jpg" class="img-fluid w-100" alt="sunglasses">
    <div class="overlay overlay-show bg-dark"></div>
    <div class="overlay-content overlay-show flex-column text-white text-center">
      <a href="shop-grid.html" class="card-link h3 text-white stretched-link text-center">Sunglasses</a>
      <p class="d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam quisquam. Ipsum, provident.</p>
      <a href="shop-grid.html" class="btn btn-outline-warning rounded-pill stretched-link d-none d-lg-inline-block">Shop Now</a>
    </div>
  </div>
  <div class="img img-zoom-in">
    <img src="./assets/img/categories/backpack.jpg" class="img-fluid w-100" alt="backpack">
    <div class="overlay overlay-show bg-dark"></div>
    <div class="overlay-content overlay-show flex-column text-white text-center">
      <a href="shop-grid.html" class="card-link h3 text-white stretched-link text-center">Backpacks</a>
      <p class="d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam quisquam. Ipsum, provident.</p>
      <a href="shop-grid.html" class="btn btn-outline-success rounded-pill stretched-link d-none d-lg-inline-block">Shop Now</a>
    </div>
  </div>
</div>
<!-- /TOP CATEGORIES 2 -->

<div class="text-center mt-3">
  <a href="shop-categories.html" class="btn btn-light rounded-pill has-icon">All Categories <i class="material-icons">arrow_right</i></a>
</div>
