<div class="card card-style1 mt-3">
  <div class="card-body">
    <h5 class="card-title">
      <i class="material-icons align-bottom text-warning">flash_on</i>
      FLASH DEALS
      <span class="text-danger" id="flash-deals-countdown"></span>
    </h5>
    <div class="swiper-container" id="dealSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="d-md-grid grid-template-col-md-2">
            <a href="shop-single.html" class="d-block" data-cover="./assets/img/products/flash_deals_1.jpg" data-height="300px 240px 240px 220px 250px"></a>
            <div class="text-center p-3">
              <h4><a href="shop-single.html" class="card-link text-secondary">Legendary Whitetails Heavyweight Hoodie</a></h4>
              <p class="price text-center">
                <span class="h4">$44.99</span>
                <span class="h5 del">$59.99</span>
              </p>
              <button class="btn btn-primary has-icon rounded-pill atc-demo" data-title="Legendary Whitetails Heavyweight Hoodie" type="button"><i class="material-icons mr-1">shopping_cart</i>Add to cart</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-md-grid grid-template-col-md-2">
            <a href="shop-single.html" class="d-block" data-cover="./assets/img/products/flash_deals_2.jpg" data-height="300px 240px 240px 220px 250px"></a>
            <div class="text-center p-3">
              <h4><a href="shop-single.html" class="card-link text-secondary">Casual Floral Print 3/4 Sleeve Shirt</a></h4>
              <p class="price text-center">
                <span class="h4">$18.69</span>
                <span class="h5 del">$21.99</span>
              </p>
              <button class="btn btn-primary has-icon rounded-pill atc-demo" data-title="Casual Floral Print 3/4 Sleeve Shirt" type="button"><i class="material-icons mr-1">shopping_cart</i>Add to cart</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-md-grid grid-template-col-md-2">
            <a href="shop-single.html" class="d-block" data-cover="./assets/img/products/flash_deals_1.jpg" data-height="300px 240px 240px 220px 250px"></a>
            <div class="text-center p-3">
              <h4><a href="shop-single.html" class="card-link text-secondary">Legendary Whitetails Heavyweight Hoodie</a></h4>
              <p class="price text-center">
                <span class="h4">$44.99</span>
                <span class="h5 del">$59.99</span>
              </p>
              <button class="btn btn-primary has-icon rounded-pill atc-demo" data-title="Legendary Whitetails Heavyweight Hoodie" type="button"><i class="material-icons mr-1">shopping_cart</i>Add to cart</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-md-grid grid-template-col-md-2">
            <a href="shop-single.html" class="d-block" data-cover="./assets/img/products/flash_deals_2.jpg" data-height="300px 240px 240px 220px 250px"></a>
            <div class="text-center p-3">
              <h4><a href="shop-single.html" class="card-link text-secondary">Casual Floral Print 3/4 Sleeve Shirt</a></h4>
              <p class="price text-center">
                <span class="h4">$18.69</span>
                <span class="h5 del">$21.99</span>
              </p>
              <button class="btn btn-primary has-icon rounded-pill atc-demo" data-title="Casual Floral Print 3/4 Sleeve Shirt" type="button"><i class="material-icons mr-1">shopping_cart</i>Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"><i class="material-icons">chevron_left</i></div>
      <div class="swiper-button-next"><i class="material-icons">chevron_right</i></div>
    </div>
  </div>
</div>
