
<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-md-auto d-flex justify-content-center">
      <div class="card shadow-sm" style="width: 350px">
        <div class="card-body">
          <div class="modal fade modal-content-right modal-shown-static" id="signinModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">


              <div class="modal-content" id="signupContent">
                <div class="text-center">
                  <h3 class="modal-title">Sign up</h3>
                  <em>create an account</em>
                  <hr>
                </div>
                <div class="modal-body">
                  <form id="formSignup">
                    <div class="form-group">
                      <input type="text" class="form-control" id="signUpNameInput" placeholder="Full name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="signUpEmailInput" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="signUpPasswordConfirmInput" placeholder="Confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                  </form>
                  <hr>
                  <button class="btn btn-faded-light has-icon btn-sm showSigninContent" type="button">
                    <i class="material-icons">chevron_left</i> Back to sign in
                  </button>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
