
<div class="container-fluid my-3">
<div class="row justify-content-center">
  <div class="col-md-auto d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 350px">
      <div class="card-body">
        <div class="modal fade modal-content-right modal-shown-static" id="signinModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">

            <div class="modal-content" id="signinContent">
              <div class="text-center">
                <h3 class="modal-title">Sign in</h3>
                <em>to your account</em>
                <hr>
              </div>
              <div class="modal-body">
                <form id="formSignin">
                  <div class="form-group">
                        <span class="input-icon">
                          <i class="material-icons">mail_outline</i>
                          <input type="email" class="form-control" id="signInEmailInput" placeholder="Email address" required>
                        </span>
                  </div>
                  <div class="form-group">
                        <span class="input-icon">
                          <i class="material-icons">lock_open</i>
                          <input type="password" class="form-control" id="signInPasswordInput" placeholder="Password" required>
                        </span>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="rememberCheck" checked>
                      <label class="custom-control-label" for="rememberCheck">Remember me</label>
                    </div>
                    <u><a href="#" class="text-primary small" id="showResetContent">Forgot password ?</a></u>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </form>
                <hr>
                <p class="font-italic">Don't have an account ? <u><a  [routerLink]="['/registration']" id="showSignupContent">Sign Up</a></u></p>
                <hr>
                <div class="text-center">
                  <p class="font-italic">Or sign in via</p>
                  <button class="btn m-2 btn-icon btn-faded-primary rounded-circle" data-toggle="tooltip" title="Facebook" data-container="#signinContent">
                    <i class="custom-icon" data-icon="facebook" data-size="20x20"></i>
                  </button>
                  <button class="btn m-2 btn-icon btn-faded-info rounded-circle" data-toggle="tooltip" title="Twitter" data-container="#signinContent">
                    <i class="custom-icon" data-icon="twitter" data-size="20x20"></i>
                  </button>
                  <button class="btn m-2 btn-icon btn-faded-danger rounded-circle" data-toggle="tooltip" title="Google" data-container="#signinContent">
                    <i class="custom-icon" data-icon="gplus" data-size="20x20"></i>
                  </button>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>
</div>
